<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div>
  <div>
    <input
      id="checkbox1"
      type="checkbox"
      [(ngModel)]="checked1"
      (change)="onToggle('checkbox1')"
    />
    <label for="checkbox1">checkbox1</label>
  </div>
  <div class="padding20">
    <input
      id="checkbox2"
      type="checkbox"
      [(ngModel)]="checked2"
      (change)="onToggle('checkbox2')"
    />
    <label for="checkbox2">checkbox2</label>
    <div class="padding20">
      <div>
        <input
          id="checkbox3"
          type="checkbox"
          [(ngModel)]="checked3"
          (change)="onToggle('checkbox3')"
        />
        <label for="checkbox3">checkbox3</label>
      </div>
      <div>
        <input
          id="checkbox4"
          type="checkbox"
          [(ngModel)]="checked4"
          (change)="onToggle('checkbox4')"
        />
        <label for="checkbox4">checkbox4</label>
      </div>
      <div>
        <input
          id="checkbox5"
          type="checkbox"
          [(ngModel)]="checked5"
          (change)="onToggle('checkbox5')"
        />
        <label for="checkbox5">checkbox5</label>
      </div>
    </div>
    <div>
      <input
        id="checkbox6"
        type="checkbox"
        [(ngModel)]="checked6"
        (change)="onToggle('checkbox6')"
      />
      <label for="checkbox6">checkbox6</label>
    </div>
    <div>
      <input
        id="checkbox7"
        type="checkbox"
        [(ngModel)]="checked7"
        (change)="onToggle('checkbox7')"
      />
      <label for="checkbox7">checkbox7</label>
    </div>
  </div>
  <div>
    <input
      id="checkbox8"
      type="checkbox"
      [(ngModel)]="checked8"
      (change)="onToggle('checkbox8')"
    />
    <label for="checkbox8">checkbox8</label>
  </div>
</div>
